DOCKER_NAME=bblog
APP_DOCKER_PORT=8000
DOCKER_MYSQL_PORT=33001
DOCKER_MYSQL_PASSWORD=secret

DB_HOST=mysql
DB_PORT="${DOCKER_MYSQL_PORT}"
DB_NAME="${DOCKER_NAME}"
DB_USER=root
DB_PASSWORD="${DOCKER_MYSQL_PASSWORD}"